html, body{
	height: 100%;
	width: 100%;
}
.navbar{
	background-color: #F5F5F5;
	padding: 5px 0;
	font-size: 1.2em;
	border-bottom: none;
}
.navbar-brand {
	min-height: 55px;
	padding: 0 15px 5px;
}
.navbar-brand img{
	height: 250%;
	margin-top: -35px;
	margin-left: -75px;

}

 .navbar-toggle{
	border-color:#9fcb01 !important;
	background-color:#6d6a6a;
	
}
 .navbar-toggle:hover,.navbar-toggle:visited, .navbar-toggle:active, .navbar-toggle:link {
	border-color:#9fcb01 !important;
	background-color:#4d4c4c !important;
}

.icon-bar{
	color:#9fcb01 !important;
	background-color:#9fcb01 !important;
}

.navbar-default .navbar-nav li a {
	color: #799a01;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
	color: #9fcb01;
}
#home {
	background: url(../img/office.jpg)  no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.landing-text {
	color: #000;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.landing-text h1{
	color: #000;
	font-size: 700%;
	font-weight: 700%;
}
.landing-text h3{
	font-size: 700%;
	font-family: 'Lato', sans-serif; 
}

.padding {
	padding: 80px 0;
}
.padding img {
	width: 100%;
}
#fixed {
	background: url(../img/background.jpg) no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.footer{
	height:25%;
	border-bottom:100px solid;
	border-color: transparent;
}

footer {
	width: 100%;
	background-color: #6b6a6a;
	padding: 5% 5% 2% 5%;
	color: #FFF;
}
.fa {
	padding: 15px;
	font-size: 25px;
	color: #FFF;
}
.fa:houver {
	color: D5D5D5;
	text-decoration: none;
}
.icon {
	max-width: 200px;
}

@media (max-width: 768px) {
	.landing-text h1{
		font-size: 300%;
	}
	.fa{
		font-size: 20px;
		padding: 10px;
	}
	.icon{
		padding-top: 5%;
		max-width: 100px;
	}
} 